.display {
    display: none;
}

.ui-card {
    width: 30%;
    height: 30vh;
    position: relative;
    background-color: #464646e1;
    position: absolute;
    display: flex;
    bottom: 500px;
    right: 730px;
    border-radius: 8px;
}

.title1 {
    display: flex;
    position: absolute;
    left: 37%;
    top: 20px;
    font-size: 25px;
    color: white;
}

.sandshore-tp {
    display: flex;
    position: absolute;
    left: 5%;
    top: 230px;
    font-size: 20px;
}

.weapon-pack2 {
    display: flex;
    position: absolute;
    left: 37%;
    top: 230px;
    font-size: 20px;
}

.weapon-pack3 {
    display: flex;
    position: absolute;
    left: 70%;
    top: 230px;
    font-size: 20px;
}

